# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# ========================
# Data files
# ========================
data/raw/
data/warehouse/
data/export/
*.parquet
*.duckdb
*.duckdb.wal

# ========================
# Power BI
# ========================
powerbi/*.pbix

# ========================
# Airflow
# ========================
airflow/logs/

# ========================
# dbt
# ========================
transform/target/
transform/dbt_packages/
transform/logs/

# ========================
# Misc
# ========================
.env
*.log
Context.md
